@import 'https://fonts.google.com/specimen/K2D?selection.family=K2D';

* {
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	font-family: 'K2D', sans-serif;
	font-size: 100%;
	background: #FFFF99;
	text-align: center;
}

h1 {
	font-family: 'K2D', sans-serif;
	margin-bottom: 30px;
	font-size: 28pt;
	text-align: center;
}